# OS X
.DS_Store*
Icon?
._*
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
# Linux
.directory
*~
# npm
node_modules
*.log
*.gz
#eclipse
.project
# Coveralls
coverage
# Benchmarking
benchmarks/graphs
.bowerrc
.idea