<div ng-controller="CareerPathCtrl">
	<div style="width: 80%; padding-top: 25px;">
		<div class="row" style="padding-top: 10px;">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default" style="padding: 0;">
							<div class="panel-body">
								<h4>Career Path</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default" style="padding: 0;">
							<div class="panel-body">
								<select class="form-control" id="sel1"
								ng-model="position">
								    <option>CEO</option>
									<option>CFO</option>
									<option>CIO</option>
									<option>COO</option>
									<option>CTO</option>
									<option>Director_of_HR</option>
									<option>Senior_Manager</option>
									<option>VP_of_Products</option>
									<option>FInance_Manager</option>
									<option>VP_of_Operations</option>
									<option>SVP_of_Innovation</option>
									<option>Senior_HR_Manager</option>
									<option>Senior_QE_Manager</option>
									<option>Started_a_Company</option>
									<option>VP_of_Engineering</option>
									<option>CEO_of_own_company</option>
									<option>Innovation_Manager</option>
									<option>SVP_of_Engineering</option>
									<option>Director_of_FInance</option>
									<option>Director_of_Products</option>
									<option>Director_of_Operations</option>
									<option>Director_of_Engineering</option>
								  </select>
								<button type="button" class="btn btn-primary" ng-click="getCareerPath()">Get Career Path</button>
									<h1 ng-show="path1.length > 0">
										<small>Path 1</small>
									</h1>
								    <div ng-repeat="firstpath in path1" class="text-center">{{firstpath}}</div>
							    <hr/>
							    	<h1 ng-show="path2.length > 0">
										<small>Path 2</small>
									</h1>
							    <div ng-repeat="secpath in path2" class="text-center">{{secpath}}</div>
							</div>
							<div class="panel-footer text-center"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>