<div ng-controller="UserRecoCtrl" ng-init="getRecommendedUsers()">
	<div style="width: 80%; padding-top: 25px;">
		<div class="row" style="padding-top: 10px;">
			<div class="col-xs-9">
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default" style="padding: 0;">
							<div class="panel-body">
								<h4>Recommended Users</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default" style="padding: 0;">
							<div class="panel-body">
								<div ng-repeat="data in connectionList">
									<div class="col-xs-2">
									<img alt="Profile Picture" src="images/default-pic1.png" height="50" width="50">
									</div>
									<div class="col-xs-10"><!-- col-xs-pull-3 -->
										<h4 class="text-primary">{{data.firstname}} {{data.lastname }}</h4>
										<div class="row">
											<div class="col-xs-6" style="margin-top: -15px;">
												<h5>&nbsp;&nbsp;&nbsp;&nbsp;{{data.email}}</h5>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="panel-footer text-center"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>